.box{
    width: 100px;
    height: 200px;
    padding: 50px;
    background-color: red;
}
.box-sizing{
    box-sizing: border-box;
    width: 100px;
    height: 200px;
    padding: 50px;
    background-color: blue;
}